# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# LaTeX files
*.aux
*.log
*.blg
*.bbl
*.out

# Large data files
*.csv